<?xml version="1.0"?>
<model>
  <name>Planta Maceta</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  
  <author>
    <name>Masterchief</name>
    <email>ingeniero@robotics.com</email>
  </author>

  <description>
    Una planta pequeña en maceta circular. 
    Visual: Malla 3D compleja (Hojas + Maceta).
    Colisión: Cilindro simple para optimizar el agarre del Sawyer.
  </description>
</model>
