<?xml version="1.0"?>
<model>
  <name>Canasta de Papas Fritas</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  
  <author>
    <name>Pelao de Maestria</name>
    <email>robotics@sim.com</email>
  </author>

  <description>
    Un modelo interactivo y dinámico de una canasta de papas fritas.
    Usa el método híbrido de 'colisión engañosa' para simular el agarre de múltiples objetos como uno solo.
  </description>
</model>
