<?xml version="1.0"?>

<robot name="strawberry">
  <link name="strawberry">
    <gravity>false</gravity>
    <inertial>
       <mass value="0.02"/>
       <inertia
        ixx="0.0007"
        ixy="0"
        ixz="0"
        iyy="0.0007"
        iyz="0"
        izz="0.007" />
    </inertial>
    <collision>
        <geometry><box size="0.0001 0.0001 0.0001" /></geometry>
          <surface>
            <contact>
              <collide_without_contact>true</collide_without_contact>
            </contact>
          </surface>
    </collision>
    <visual>
      <geometry>
        <mesh filename="package://milkshake_demo/models/strawberry/meshes/strawberry.dae"/>
      </geometry>
    </visual>
  </link>
</robot>
